<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Warriors</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>

<div class="wrapper">

    <header class="header">

        <div class="logo">
            <img class="logo__img" src="/graphics/logo.jpg" alt="">
        </div>

        <nav class="nav">
             <ul class="nav__list">
                <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="/warrior/add-form" class="nav__link">Register a new warrior</a></li>
                <li class="nav__item"><a href="/arena/fight-form" class="nav__link">Fight arena</a></li>
                <li class="nav__item"><a href="/hall-of-fame" class="nav__link">Hall of fame</a></li>
                <li class="nav__item"><a href="/warrior" class="nav__link">All warriors</a></li>
            </ul>
        </nav>

        <div class="logo">
           <img class="logo__img" src="/graphics/logo.jpg" alt="">
        </div>

    </header>

    <article class="article">
        {{{body}}}
    </article>

    <footer class="footer">

        <div class="logo">
            <img class="logo__img" src="/graphics/logo1.png" alt="">
        </div>

        <section class="footer__section">
            <ul class="footer__list">
                <li class="footer__item">All rights reserved!</li>
                <li class="footer__item">MegaK <p>2021 / 2022</p></li>
                <li class="footer__item">Author: <p>Dawid Kordos</p></li>
                <li class="footer__item">Contact: <p><a class="footer__link" href="https://facebook.com"><i class="fab fa-facebook-f"></i></a></p> </li>
            </ul>
        </section>

        <div class="logo">
            <img class="logo__img" src="/graphics/logo1.png" alt="">
        </div>

    </footer>

</div>

</body>
</html>
