<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Warriors</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>

    <header>

        <nav>

            <div class="nav-container">

                <div class="logo">

                    <a href="/">DK</a>

                </div>

                <div class="menu-top">

                    <a href="/warrior/add-form">Register a new warrior</a>
                    <a href="/arena/fight-form">Fight arena</a>
                    <a href="/hall-of-fame">Hall of fame</a>

                </div>

                <div class="nav-hamburger">
                    <i class="fas fa-bars show"></i>
                    <!-- <i class="fas fa-times"></i> -->
                </div>

            </div>

        </nav>

    </header>

    <article>
        <div class="article-container">
            {{{body}}}
        </div>
    </article>

</body>
</html>
