<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Warriors</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/styles/style.css">
</head>

<body>

<div class="wrapper">

    <div class="logo">
        <img class="logo__img" src="/graphics/logo.jpg" alt="">
    </div>

    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item"><a href="/" class="menu__link">Home</a></li>
            <li class="menu__item"><a href="/warrior/add-form" class="menu__link">Register a new warrior</a></li>
            <li class="menu__item"><a href="/arena/fight-form" class="menu__link">Fight arena</a></li>
            <li class="menu__item"><a href="/hall-of-fame" class="menu__link">Hall of fame</a></li>
            <li class="menu__item"><a href="/warrior" class="menu__link">All warriors</a></li>
        </ul>
    </nav>

    <div class="logo">
        <img class="logo__img" src="/graphics/logo.jpg" alt="">
    </div>

    <section class="main-article">
        {{{body}}}
    </section>

    <div class="logo-footer">
        <img class="logo-footer__img" src="/graphics/logo1.png" alt="">
    </div>

    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item">All rights reserved!</li>
            <li class="footer__item">Author: Dawid Kordos</li>
            <li class="footer__item">2022</li>
            <li class="footer__item">Contact: </li>
        </ul>
    </footer>

    <div class="logo-footer">
        <img class="logo-footer__img" src="/graphics/logo1.png" alt="">
    </div>



</div>

</body>
