<div class="warrior-form">
    <h2>Register a new warrior</h2>
    <form action="/warrior" method="POST">
        <label>
            Name:
            <input type="text" name="name" minlength="3" maxlength="50">
        </label>
        <label>
            Power:
            <input type="number" name="power" value="1" min="1" max="7">
        </label>
        <label>
            Defence:
            <input type="number" name="defence" value="1" min="1" max="7">
        </label>
        <label>
            Resistance:
            <input type="number" name="resistance"value="1" min="1" max="7">
        </label>
        <label>
            Agility:
            <input type="number" name="agility" value="1" min="1" max="7">
        </label>
        <button>Send</button>
    </form>
</div>
