<h1 class="article__title">Wellcome to the warrior fight arena!</h1>
<img class="article__img" src="/graphics/warrior.jpg" alt="">
<h3 class="article__sub-title">Are you sure you are brave enough to make a fight? Add your warrior then with certain attributes and test yourself! <a class="article__link" href="/warrior/add-form"> --> Register a new warrior</a></h3>

