@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-image: url('/graphics/footer_lodyas.png');
    font-family: "pt sans", "roboto", arial, sans-serif;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

/*    -ms-flex-line-pack: start;*/
    align-content: stretch;

    font-size: 2rem;

    max-width: 1000px;
    background: #333;
    color: #fff;
    margin: 0 auto;

    -webkit-box-shadow: 0 0 20px #ff0000;
    box-shadow: 0 0 20px #ff0000;
    min-height: 100vh;
}

.logo {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-height: 100px;
}

.logo__img {
    display: block;
    width: 100%;
}

.menu {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;

    background-color: #333;
    font-family: "pt sans", "roboto", arial, sans-serif;
    max-height: 100px;
    padding: 15px 30px;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.menu__item {
    margin: 0 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 4rem;
    flex-grow: 1;
}

.menu__item:hover {
    border-bottom: 2px yellow solid;
}

.menu__link {
    display: block;
    color: #fff;
    text-decoration: none;
}

.main-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    background-image: url('/graphics/grey_wash_wall.png');
    text-align: center;
    color: #000;
    flex-grow: 1;
}

.main-article__title {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 20px 0;
}

.main-article__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

/*    -webkit-box-align: self-start;
    -ms-flex-align: self-start;*/
    align-items: center;

/*    -ms-flex-preferred-size: 100%;*/
    flex-basis: 100%;

    text-align: center;
}

.main-article__label {
    display: block;
    margin: 2vh auto;
}

.main-article__input {
    display: block;
    margin: 0 auto;
    background-color: #ddd;
}

.main-article__button {
    margin: 30px auto 10px;
    padding: 2px 18px;
    background-color: #555;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.main-article__button:hover {
    background-color: #ddd;
}

.logo-footer {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
}

.logo-footer__img {
    display: block;
    width: 100%;
    max-height: 100px;
}

.footer {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;

    background-color: #333;
    font-family: "pt sans", "roboto", arial, sans-serif;
    max-height: 100px;
    padding: 15px 50px 15px 80px;
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.footer__item {
    margin: 0 20px;
    font-size: 1.5rem;
    line-height: 4rem;
    flex-grow: 1;
}
